.text-red{
    color: red;
}
.hidden{
    display: none;
}
.dataTables_filter label{
    width: 100% !important;
}
.dataTables_length select.form-control {
    background: none !important;
    border: 2px solid #000;
    border-radius: 5px;
}
.product_media_conatiner{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.media-close{
    float: right;
    padding: 10px !important;
}
.align-items-align-center{
    align-items: center !important;
    justify-content: space-between;
}
.justify-centent-space-between{
    justify-content: space-between;
}
.sale-modal-img{
    width: 75px;
    height: 75px;
}
.hidden{
    display: hidden;
}
.sidebar .nav li a{
    font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input{
    border-radius: 20px !important;
    padding-left: 15px !important;
}